In [ ]:
Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [4]:
def filter_list(l):
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
        else:
            continue
    return l1

In [5]:
filter_list([1,2,3,"a","b","c",4])

[1, 2, 3, 4]

In [6]:
filter_list(["Nothing","Here"])

[]

In [ ]:
***************************************************************************

In [ ]:
Ques 2 ) Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [13]:
def add_indexes(l):
    l1=[]
    for i in range(0,len(l)):
        l1.append(l[i]+i)
    return l1

In [14]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [15]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [16]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

In [ ]:
***************************************************************************

In [ ]:
Ques 3 : Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [21]:
def cone_volume(h,r) :
    return round((1/3)*(3.14*h*r*r),2)

In [22]:
cone_volume(3, 2)

12.56

In [25]:
cone_volume(18, 0)

0.0

In [ ]:
***************************************************************************

In [ ]:
Ques 4 : 
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 1, 3, 6, 10, 15 This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on. Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [26]:
def triangle(n):
    return int(n*(n+1)/2)

In [28]:
triangle(1)

1

In [29]:
triangle(6)

21

In [30]:
triangle(215)

23220

In [ ]:
***************************************************************************

In [ ]:
Ques 5 : Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [31]:
def missing_num(l):
    l.sort()
    for i in range (0,len(l)):
        if l[i]!=i+1:
            return i+1
        else:
            continue
    return 10

In [32]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [33]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [34]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

In [ ]:
**************************************************************************