In [ ]:
Ques 1 :  In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [ ]:
Ans:
Arithmatic Operator(*)
String Value ("hello")
Floating point value (-87.8)
Arithmatic Operator (-)
Arithmatic Operator (/)
Arithmatic Operator (+)
integer value (6)

In [ ]:
---------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques2 : What is the difference between string and variable?

In [ ]:
Ans
a string is a value representing text and Strings always start and end with quotes (Eg. String= "Hello") 
a variable is a name that can refer to any value (Eg. variable = 10, variable = hello a = 25 (here a is variable))

In [ ]:
------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques 3 : Describe three different data types.

In [ ]:
Ans :
String : The string data is used to stores characters.
(Eg. S="India")


list : list is used to store the collection of different data types of elements, and it is mutable 
(Eg. l =[1,2,3,4,4.5,15+4j])


Tuple  :Tuple is used to stores a collection of different data types of elements, and it is immutable.
[Eg. T= ("hi", 100, 23.55)]


Dictionary: Dictionary is used to store a collection of different data types of elements in the form of key-value pairs,and it is mutable 
(Eg. D={"name":"Ram", "Age": "25"})

In [ ]:
-----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques 4: What is an expression made up of? What do all expressions do?

In [ ]:
Ans:  expression is a combination of values, variables, operators There are three kinds of expressions: An arithmetic expression evaluates to a single arithmetic value. A character expression evaluates to a single value of type character. A logical or relational expression evaluates to a single logical value. All expressions evaluate (that is, reduce) to a single value.

In [ ]:
----------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques5 : This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Ans : An expression evaluates to a single value. A statement does not.

In [ ]:
---------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques6 : After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22
bacon + 1

23

In [3]:
bacon

22

In [ ]:
Ans bacon = 22 and after that bacon +1 = 23 but 23 value is not reassign to bacon so the value of bacon is 22 
for reassign we need to do (bacon =bacon+1)

In [ ]:
-------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques7:What should the following two expressions evaluate to?

'spam' + 'spamspam'
'spam' * 3

In [6]:
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

In [ ]:
Ans: Both give same output and evaluate to spamspamspam

In [ ]:
--------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques8: Why is it that eggs is a true variable name but 100 is not?

In [ ]:
ans : Variable names cannot begin with a number it should always begin with character

In [ ]:
---------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques 9 : What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
Ans: integer = int()
    floating-point = float()
    string = str()
    
this function is use

In [ ]:
-------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Ques 10 : Why does this expression cause an error? How can you fix it?
    'I have eaten ' + 99 + ' burritos.'

In [11]:
 'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
it gives error becz 99 is intger and only string concatenate with string so if we want to do this concad then we need to covert 99 into str means typecasting we need to do

In [13]:
 'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'